body {
    background-color: #b1f1f8;
    margin: 0;
    font-family: Tahoma;
}

.mainbody {
  margin: 8px
}

.mainheader{
  margin: 8px;
  padding-top: 29px;
  text-align: center;
}

.mainheader h1 {
  font-size: 37px;
  margin-bottom: 0;
}

#milosz_pic{
  margin-right: 8px;
  border: 6px solid #10abbc;
  padding: 3px;
}

#email{
  padding: 10px;
  border: 2px solid #333333; 
  display: inline-block;
}

.paper{
  border: 2px solid #333333; 
  padding: 10px;
  display: block;
  height: 107px;
  background-color: #dfffff;
  margin: 10px;
}

#dlpic{
  display: inline-block;
  padding: 2px;
  width: 41px;
  margin-top: 23px;
  margin-right: 23px;
}

.paper h3{
  margin-top: 0;
}

.paper img {
  display: inline-block;
  border: 4px solid #10abbc;
  padding: 2px;
  margin-right: 10px;
  width: 89px;
}

.navbar {
  list-style: none;
  padding: 0;
  margin: 0; 
  overflow: hidden;
  background-color: #333333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar li {
  float: left;
}

.navbar li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: #b1f1f8;
    text-decoration: none;
}

.navbar li a:hover {
  background-color: #111111;
}
